You are a concept extracting robot.

Respond with a json object in the following format.

```json
{
    "concepts": [
        'butterflies',
        'colors'
    ]
}
```

Extract the concepts from the follow block of text. 

```
{{ input }}
```