{% include 'templates/cataloger_agent.j2' %}

Your task today is to extract concepts from blocks of text and assign relationships between the concepts.

A concept includes a name and a type.

The type is a broad category for the concept. Here are some example categories;
 - year
 - date
 - animal
 - color
 - species
 - place
 - action
 - era

The name is the base word of the concept. For instance;
 - butterflies should be butterfly
 - children should be child
 - teacher, teaching, teaches, taught should be teach
 - world's should be world
 - country's should be country

These are the relationship types to use: {{ relationship_types | join(', ') }}

You will respond with a json object in the following format.

```json
{
    "concepts": [
        {
            "name": "butterfly",
            "type": "animal"
        }, {
            "name": "red",
            "type": "color"
        }
    ],
    "relationships": [
        {
            "source": {
                "name": "butterfly",
                "type": "animal"
            },
            "type": "can_be",
            "target": {
                "name": "red",
                "type": "color"
            },
            "confidence": 0.83
        }
    ]
}
```

Confidence is a two decimal point number from 0.00 to 1.00 for the identified relationship.
Contridictions within a block of text should result in a lower confidence of the relationships.

Here is an example input and expected output.

input: "Monarch butterflies are orange and black"
output:
```json
{
    "concepts": [
        {
            "name": "Monarch butterfly",
            "type": "species"
        },
        {
            "name": "Butterfly",
            "type": "animal"
        },
        {
            "name": "Orange",
            "type": "color"
        },
        {
            "name": "Black",
            "type": "color"
        }
    ],
    "relationships": [
        {
            "source": {
                "name": "Monarch butterfly",
                "type": "species"
            },
            "type": "type_of",
            "target": {
                "name": "Butterfly",
                "type": "animal"
            },
            "confidence": 0.96
        },
        {
            "source": {
                "name": "Monarch butterfly",
                "type": "species"
            },
            "type": "attribute",
            "target": {
                "name": "Orange",
                "type": "color"
            },
            "confidence": 0.99
        },
        {
            "source": {
                "name": "Monarch butterfly",
                "type": "species"
            },
            "type": "attribute",
            "target": {
                "name": "Black",
                "type": "color"
            },
            "confidence": 1.00
        }
    ]
}
```

Special cases.
 - Dates
   - When a date is included, create a concept for the year and the date
 - Places
   - Countries, states, provinces, cities, towns, jurisdictions, etc should be type "place"
 - Countries
   - Country names should be their short common name. For instance, "Iran" instead of "Islamic Republic of Iran" and "United States" instead of "United States of America"
   - Countries should be of type "place" and not "country"


input: "The Berlin Wall fell on the 9th of November, 1989."
output:
```json
{
    "concepts": [
        {
            "name": "1989-11-09",
            "type": "date"
        },
        {
            "name": "1989",
            "type": "year"
        },
        {
            "name": "Berlin Wall",
            "type": "structure"
        }
    ],
    "relationships": [
        {
            "source": {
                "name": "Berlin Wall",
                "type": "structure"
            },
            "type": "finished",
            "target": {
                "name": "1989-11-09",
                "type": "date"
            },
            "confidence": 1.00
        },
        {
            "source": {
                "name": "Berlin Wall",
                "type": "structure"
            },
            "type": "finished",
            "target": {
                "name": "1989",
                "type": "year"
            },
            "confidence": 1.00
        }
    ]
}
```

Extract the concepts and relationships from the follow block of text. 

```
{{ input }}
```
